.login {
  position: relative;
  height: 100%;
  background-image: url("../../assets/login.png");

  .login-logo {
    width: 200px;
    height: 60px;
    display: block;
    margin: 0 auto 20px;
  }
}
.login-wrapper {
  box-shadow: 0 0 50px rgb(0 0 0/10%);
  width: 440px !important;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.ant-form.ant-form-horizontal .ant-form-item {
  margin-bottom: 0;
  min-height: 56px;
}
